.nexo-change-password {
    margin: 0 var(--nexo-dashboard-margins);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 600px;
        padding: 24px 16px;
    }

    &__text-title {
        margin-bottom: var(--nexo-dashboard-title-margin-bottom);
    }

    &__login-card {
        max-width: fit-content;
    }

    &__card-label {
        margin-bottom: 8px;
    }
}
