.nexo-change-password {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: max-content;
        padding: 24px 0;
    }

    &__text-title {
        margin-bottom: var(--nexo-dashboard-title-margin-bottom);
    }

    &__login-card {
        max-width: fit-content;
    }

    &__card-label {
        margin-bottom: 8px;
    }
}
