.nexo-reset-password {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__login-card {
        max-width: 400px;
        width: 100%;
        padding: 16px;
    }

    &__icon {
        margin-bottom: 64px;
    }

    &__input {
        width: 100%;
        margin-top: 8px;
    }

    &__button-back {
        text-align: center;
    }

    &__text {
        max-width: 65%;
        margin: 0 auto;
        text-align: center;

        &-title {
            font-weight: bold;
        }
    }
}
