@page "/external-password-recovery"
@using NexoRecruiter.Application.DTOs.Auth
@attribute [AllowAnonymous]

<MudPaper Class="nexo-recovery-password" Spacing="0">
    <MudCard Elevation="0" class="nexo-recovery-password__login-card">

        <MudImage Class="nexo-recovery-password__icon" Src="@Assets["images/logo-login.png"]"></MudImage>
        <EditForm Model=recoveryPasswordDTO OnValidSubmit=Submit Class="d-flex flex-column gap-5">
            <DataAnnotationsValidator />
            <div>
                <MudText Class="nexo-recovery-password__card-label">Email</MudText>
                <MudTextField Class="nexo-recovery-password__input" @bind-Value="recoveryPasswordDTO.Email"
                              Variant="Variant.Outlined" Placeholder="JonhDoe@gmail.com" InputType="InputType.Email"
                              For="@(() => recoveryPasswordDTO.Email)" />
            </div>

            <MudButton Class="nexo-recovery-password__button" Variant="Variant.Filled" Color="Color.Primary"
                       ButtonType="ButtonType.Submit">
                Password Reset
            </MudButton>
            <MudLink Href='/login' Class="nexo-recovery-password__button-back" Variant="Variant.Text"
                     Color="Color.Secondary" ButtonType="ButtonType.Submit">
                Back to login
            </MudLink>
        </EditForm>
    </MudCard>
</MudPaper>

@code {
    public PasswordResetRequestDTO recoveryPasswordDTO { get; set; } = new PasswordResetRequestDTO();

    private void Submit() => Console.WriteLine($"Email = {recoveryPasswordDTO?.Email}");

}