@using NexoRecruiter.Web.Features.Shared.Components.AppShell
@inherits LayoutComponentBase

<AppShell>
    <div class="page">
        <main>
            @Body
        </main>
    </div>
</AppShell>