// ==========================================================================
// Component: NexoDrawer Overrides
// ==========================================================================
// Overrides de MudBlazor para el componente NexoDrawer

.nexo-drawer {
    background-color: var(--mud-palette-drawer-background) !important;
    color: var(--mud-palette-drawer-text) !important;

    .sidebar__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar__logo {
        max-width: 126px;
    }

    &__content {
        overflow-y: auto;
        background-color: transparent ;
        color: inherit;
    }

    &__profile-info {
        margin-top: 16px;
    }
}

// Estado activo
.mud-nav-link.mud-ripple.active {
    background-color: var(--mud-palette-primary) !important;
    color: var(--mud-palette-primary-text) !important;
    font-weight: 600;

    .mud-icon-root {
        color: var(--mud-palette-primary-text) !important;
    }

    .mud-nav-link-text {
        color: var(--mud-palette-primary-text) !important;
    }
}

.dashboard-sidebar__logo {
    width: fit-content;
    margin: 0 auto;
}