@page "/ChangePassword"
@using NexoRecruiter.Web.Features.Dashboard.Layouts
@layout DashboardLayout

<h1>Change Password page</h1>


@code {
    [CascadingParameter(Name = "DashboardLayout")]
    public DashboardLayout? dashboardLayout { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (dashboardLayout is not null)
        {
            dashboardLayout.setCurrentPage(currentPage: "Change Password", path: "/ChangePassword");
        }
        return base.OnInitializedAsync();
    }
}